*,
::before,
::after {
  box-sizing: border-box
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    background-color: #323232;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px;
}

.nav-item {
    display: inline-block;
    background-color: #c9c9dc;
    color: white;
    padding: 10px 5px;
}

.nav-main {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.gallery-section {
    padding: 0px 40px;
}

h2 {
    background-color: #4cffd3;
    padding: 10px;
    margin: 15px 0;
}

.photo-count {
    text-decoration: underline yellow;
}

.photo-options p {
    margin: 0;
}

.photo-options {
    background-color: gold;
    padding: 10px 10px;
    text-align: center;
}

.photo-card {
    display: inline-block;
    margin: 8px 0;
}

.gallery-container {
    margin: 0 auto;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #323232;
    color: white;
    padding: 10px;
    margin: 15px auto auto auto;
}
